@import "../main.css";

.list-card-container {
    width: 660px;
    border: 1px solid #aaaaaa;
    margin: 6px 8px;
    height: 130px;
}

.list-card-img {
    width: 130px;
    height: 130px;
    border: 1px solid #aaaaaa;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list-card-head {
    width: 200px;
}
.list-card-title {
    text-decoration: underline;
    font-weight: 400;
    font-size: 14px;
    margin: 18px 0 18px;
    padding-left: 18px;
    color: #575757ee;
}

.list-card-site {
    color: #575757ee;
    margin: 0;
    font-size: 14px;
}
